body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --col_white: #fff;
  --col_grey: #927777;
  --col_butt: #00AFDB;
  --col_butt_hover: #009CC2;
  --col_butt_hover_2: #02738f;
  --col_heading: #373737;
  --col_text: #4E4E4E;
  --col_foot: #000;
  --col_last: #818181;
  background-color: var(--col_white);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-align: center;
}

body p {
  margin: 0 auto;
}

body .main_logo {
  height: 44px;
  width: 44px;
  background-image: url("assets/img/logo.png");
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

body .button_class {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
  width: 11.5rem;
  height: 3rem;
  background-color: var(--col_butt);
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
  color: var(--col_white);
  border-width: 0;
}

body .button_class:hover {
  background-color: var(--col_butt_hover);
}

body .button_ico {
  width: 4.1875rem;
  height: 3rem;
  background-color: var(--col_butt_hover);
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
  border-width: 0;
  position: absolute;
  top: 0;
  right: 0;
}

body .button_ico:hover {
  background-color: var(--col_butt_hover_2);
}

body .button_ico img {
  -webkit-transform: translate(0.1875rem, 0.0625rem);
          transform: translate(0.1875rem, 0.0625rem);
}

body .h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: var(--col_heading);
  margin: 0;
}

body .h5 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: var(--col_heading);
}

body .text_info {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--col_text);
  margin-top: 1.5625rem;
  margin-bottom: 2rem;
}

body .container {
  width: 100rem;
  margin: 0 auto;
}

body .container .header_block {
  background-image: url("assets/img/bg-image-wrapper.png");
  background-color: var(--col_grey);
  color: var(--col_white);
  padding-top: 1.5625rem;
  padding-bottom: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .header_block header {
  width: 37.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header_block header .header_nav {
  padding-top: 2px;
}

body .container .header_block header .header_nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--col_white);
}

body .container .header_block header .header_nav a:hover {
  border-bottom: 1px solid var(--col_white);
}

body .container .header_block header .header_nav:nth-child(1) a {
  border-bottom: 1px solid var(--col_white);
}

body .container .header_block header .header_nav:nth-child(2) {
  padding: 0 6.25rem 0 5.375rem;
  padding-top: 2px;
}

body .container .header_block header .header_nav:nth-child(4) {
  padding: 0 5.375rem 0 6.25rem;
  padding-top: 2px;
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}

body .container .header_block .header_block_info {
  margin-top: 7.375rem;
  padding-left: 0.25rem;
}

body .container .header_block .header_block_info h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.6875rem;
  letter-spacing: 0.28125rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

body .container .header_block .header_block_info p {
  width: 52%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 140%;
  margin-top: 1.375rem;
  margin-bottom: 1.75rem;
  padding-right: 0.25rem;
}

body .container .header_block .header_block_info button {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

body .container .header_block .header_block_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  margin-top: 11.3125rem;
}

body .container .header_block .header_block_socials .header_logo_options {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}

body .container .header_block .header_block_socials .header_logo_options:hover {
  background-color: var(--col_butt);
}

body .container .header_block .header_block_socials .header_socials_google {
  background-image: url("assets/img/mail_fff.svg");
}

body .container .header_block .header_block_socials .header_socials_facebook {
  background-image: url("assets/img/facebook_fff.svg");
}

body .container .header_block .header_block_socials .header_socials_instagram {
  background-image: url("assets/img/insta_fff.svg");
}

body .container .header_block .header_block_socials .header_socials_telegram {
  background-image: url("assets/img/telegram_fff.svg");
}

body .container article .section_1 {
  padding-top: 7.5rem;
  padding-bottom: 8.75rem;
  padding-right: 16.875rem;
  padding-left: 16.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

body .container article .section_1 .sec_1_info_block {
  width: 25.625rem;
  height: 14.625rem;
}

body .container article .section_1 .sec_1_info_block .h3 {
  -webkit-transform: translateY(0.125rem);
          transform: translateY(0.125rem);
}

body .container article .section_1 .sec_1_info_block .text_info {
  margin-top: 1.5rem;
}

body .container article .section_2 {
  padding-top: 4.8125rem;
  padding-bottom: 8.75rem;
}

body .container article .section_2 .sec_2_carusel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_counter {
  text-align: right;
  font-size: 1.125rem;
  line-height: 140%;
  color: var(--col_heading);
  margin-right: 16.875rem;
  margin-bottom: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_counter .counter_digitals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.75rem;
  gap: 5px;
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_counter .carusel_arrow {
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 0.125rem solid var(--col_heading);
  border-right: 0.125rem solid var(--col_heading);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  -webkit-transition: -webkit-box-shadow 1s ease-in;
  transition: -webkit-box-shadow 1s ease-in;
  transition: box-shadow 1s ease-in;
  transition: box-shadow 1s ease-in, -webkit-box-shadow 1s ease-in;
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_counter .carusel_arrow:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_counter .carusel_arrow:hover {
  -webkit-box-shadow: 2px 0 5px 3px var(--col_butt_hover), 0 3px 5px 3px var(--col_butt_hover), 2px 0 5px 3px var(--col_butt_hover), 0 3px 5px 3px var(--col_butt_hover);
          box-shadow: 2px 0 5px 3px var(--col_butt_hover), 0 3px 5px 3px var(--col_butt_hover), 2px 0 5px 3px var(--col_butt_hover), 0 3px 5px 3px var(--col_butt_hover);
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3000px;
  -webkit-transform: translateX(15.5rem);
          transform: translateX(15.5rem);
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block {
  width: 25.5rem;
  height: 15.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--col_grey);
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  margin: 0 1rem;
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block .sec_2_carusel_content {
  opacity: 0;
  -webkit-transition: opacity 2s linear;
  transition: opacity 2s linear;
  text-align: left;
  width: 18.9375rem;
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block .sec_2_carusel_content .sec_2_carusel_logo {
  width: 2.75rem;
  height: 2.75rem;
  background-image: url("assets/img/Frame_6.jpg");
  border-radius: 50%;
  margin-top: 2.1875rem;
  margin-left: 8.25rem;
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block .sec_2_carusel_content .h5 {
  margin-left: 4.625rem;
  margin-top: 1.3125rem;
  margin-bottom: 12px;
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block .sec_2_carusel_content p {
  text-align: center;
  margin-top: 0;
  -webkit-transform: translateX(0.1875rem);
          transform: translateX(0.1875rem);
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block:nth-child(1) {
  background-color: transparent;
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block:nth-child(1) .sec_2_carusel_content {
  opacity: 1;
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block:nth-child(2) {
  background-image: url("assets/img/slider-item_5.jpg");
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block:nth-child(3) {
  background-image: url("assets/img/slider-item_1.jpg");
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block:nth-child(4) {
  background-image: url("assets/img/slider-item_4.jpg");
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block:nth-child(5) {
  background-image: url("assets/img/slider-item_2.jpg");
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block:hover {
  background-image: none;
  background-color: var(--col_white);
}

body .container article .section_2 .sec_2_carusel .sec_2_carusel_img_container .sec_2_carusel_img_block:hover .sec_2_carusel_content {
  opacity: 1;
}

body .container article .section_1_v2 .sec_1_info_block_v2 {
  margin-right: 6.5625rem;
  margin-top: 3.25rem;
}

body .container article .section_1_v2 .sec_1_info_block_v2 .h3 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .container article .section_1_v2 .sec_1_info_block_v2 .text_info_v2 {
  margin-top: 1.3125rem;
  margin-bottom: 1.875rem;
}

body .container article .section_1_v2 .sec_1_info_block_v2 .button_class_v2 {
  width: 11.25rem;
}

body .container article .section_3 {
  width: 100%;
  height: 23.75rem;
  background-image: url("assets/img/pexels-christina-morillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--col_grey);
  padding-top: 13.5625rem;
}

body .container article .section_3 .h3 {
  color: var(--col_white);
  margin-bottom: 1.875rem;
}

body .container article .section_3 .sec_3_form {
  width: 26.25rem;
  margin-left: 589px;
}

body .container article .section_3 .sec_3_form .sec_3_form_wrap .sec_3_email_btn {
  width: 21.25rem;
  height: 2.75rem;
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
  border-width: 0;
  padding-left: 1.4375rem;
  padding-bottom: 0;
  padding-top: 0.125rem;
  width: 19.75rem;
}

body .container article .section_3 .sec_3_form .sec_3_form_wrap .button_class {
  width: 4.125rem;
  height: 2.875rem;
}

body .container article .section_4 {
  padding-top: 7.625rem;
  padding-bottom: 11.25rem;
}

body .container article .section_4 .sec_4_container {
  margin: 0 auto;
  width: 30.125rem;
}

body .container article .section_4 .sec_4_container .text_info {
  margin-top: 1.25rem;
}

body .container article .section_4 .sec_4_container .sec_4_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2.4375rem;
  gap: 1.8125rem;
}

body .container article .section_4 .sec_4_container .sec_4_form .sec_4_form_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: -webkit-box-shadow 2s linear;
  transition: -webkit-box-shadow 2s linear;
  transition: box-shadow 2s linear;
  transition: box-shadow 2s linear, -webkit-box-shadow 2s linear;
}

body .container article .section_4 .sec_4_container .sec_4_form .sec_4_form_wrap .button_class {
  width: 11.75rem;
  height: 3.125rem;
  padding-left: 0;
  padding-right: 3.8125rem;
}

body .container article .section_4 .sec_4_container .sec_4_form .sec_4_form_wrap:hover {
  -webkit-box-shadow: 2px 0 5px 3px var(--col_butt_hover), 0 3px 5px 3px var(--col_butt_hover), 2px 0 5px 3px var(--col_butt_hover), 0 3px 5px 3px var(--col_butt_hover);
          box-shadow: 2px 0 5px 3px var(--col_butt_hover), 0 3px 5px 3px var(--col_butt_hover), 2px 0 5px 3px var(--col_butt_hover), 0 3px 5px 3px var(--col_butt_hover);
}

body .container .footer_class {
  background-color: var(--col_foot);
  padding-top: 3.6875rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

body .container .footer_class .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .footer_class .footer_content .footer_navs_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.21875rem;
}

body .container .footer_class .footer_content .footer_navs_block .footer_nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--col_white);
}

body .container .footer_class .footer_content .footer_navs_block .footer_nav a:hover {
  border-bottom: 0.0625rem solid var(--col_white);
}

body .container .footer_class .footer_content .footer_navs_block .spacer {
  width: 0.125rem;
  height: 0.5rem;
  background-color: var(--col_white);
  opacity: 0.4;
}

body .container .footer_class .footer_content .main_logo {
  -webkit-transform: translateX(-2.125rem);
          transform: translateX(-2.125rem);
}

body .container .footer_class .footer_content .footer_info a {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--col_last);
}
/*# sourceMappingURL=style.css.map */